<nav>
    <div class="site-title">
        <a href="/"><h1>Home Page</h1></a>
        <p>NOTE STORE</p>
    </div>
    <ul>
        <li><a href="/">Notes</a></li>
        <li><a href="/notes/create">Create Note</a></li>
    </ul>
</nav>