<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="not-found contact">
        <h1>404 ERROR</h1>
        <p>OOPS, Page not found :)</p>
    </div>

    <%- include('./partials/footer.ejs') %>
    
</body>
</html>